# Flutter/Dart/Pub related files
*.dart_tool/
*.pub/
*.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.idea/
.vscode/

# Android related files
*.iml
.gradle/
local.properties
*.keystore

# iOS related files
Pods/
Podfile.lock
DerivedData/
xcuserdata/
*.xcuserstate

# VS Code settings
.vscode/

# macOS specific
.DS_Store

# User-specific files
*.log
*.lock
*.tmp
